<% @notifications.each do |notification| %>
	<div class="notification">
		<%= link_to notification.post_string + '...' , post_url(Post.find_by(id:notification.post_id)) + '/comments' %>
	</div>
<% end%>