
<%# For each each post %>
<% @posts_spliced.each do |post| %>
  <div class="panel panel-default">
    <div class="panel-body">		
	 <% post.each do |piece| %>
	 	<%= piece %>
	 <% end %> 
    </div>
  </div>
<% end %>




