
<!-- New Post Partial -->

<!-- <h1 id='share_idea'>Share Idea</h1> -->

<%= form_for :post, url: posts_path do |f| %>

	<%= f.hidden_field :ip, :value => request.remote_ip.split('.').join().to_i %>
  <p>
    <%= f.text_area :text, :class => "post_box", :placeholder => "Let your thoughts flow in this box .  .   .    .     .    and #tag away!" %>
  </p>
 
  <p>
    <%= f.submit 'Share Idea', :class => 'post_button btn btn-default' %>
  </p>
<% end %>