// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post_box {
	// color: #555555;
	text-shadow: 0 1px 2px #000000;
}

.post_button {
	width: 76%;
	margin-left: 15%;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px; 
	font-family: 'Bree Serif', serif;
	font-size: 18px;
}

/*
#share_idea {
	text-align:center;
	margin-left: 5%;
	padding-bottom: 10px;
    font-family: 'Bree Serif', serif;
    text-shadow: 2px 2px 3px #000000;
}
*/


// Placeholder Text Formatting cross-browser

.post_box::-webkit-input-placeholder {
   color: white;
   font-size: 24px;
   line-height: 28px;
   text-align: center;
}

.post_box:-moz-placeholder { /* Firefox 18- */
   color: white;
   font-size: 24px;
   line-height: 28px;
   text-align: center;  
}

.post_box::-moz-placeholder {  /* Firefox 19+ */
   color: white;
   font-size: 24px;
   line-height: 28px;
   text-align: center;  
}

.post_box:-ms-input-placeholder {  
   color: white;
   font-size: 24px;
   line-height: 28px;
   text-align: center;  
}