// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* custom template */

html, body {
  height: 100%;
  font-family: verdana,arial,sans-serif;
  color: #555555;
}

.nav {
  font-family: Arial,sans-serif;
  font-size: 13px;
}

a {
  color: #222222;
  &:hover {
    text-decoration: none;
  }
}

hr {
  border-color: #dedede;
}

.wrapper, .row {
  height: 100%;
  margin-left: 0;
  margin-right: 0;
}

.wrapper {
  &:before, &:after {
    content: "";
    display: table;
  }
}

.column {
  &:before, &:after {
    content: "";
    display: table;
  }
}

.wrapper:after {
  clear: both;
}

.column {
  &:after {
    clear: both;
  }
  height: 100%;
  overflow: auto;
  *zoom: 1;
  .padding {
    padding: 20px;
  }
}

.full {
  padding-top: 36px;
}

.box {
  bottom: 0;
  /* increase for footer use */
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #444444;
  /*
    background-image:url('/assets/example/bg_suburb.jpg');
    background-size:cover;
    background-attachment:fixed;
  */
}

.divider {
  margin-top: 32px;
}

/* Top Navigation Bar */

.navbar-blue {
  border-width: 0;
  // background-color: #3B5999;
  background-color: #2196C6;
  color: #ffffff;
  font-family: arial,sans-serif;
  top: 0;
  position: fixed;
  width: inherit;
  li > a {
    color: #efefef;
  }
}

.navbar-toggle {
  color: #efefef;
}

.navbar-blue {
  .dropdown-menu li {
    a {
      // color: #1D8C5C;
    }
    > a {
      padding-left: 30px;
    }
  }
  li > a {
    &:hover, &:focus {
      background-color: #1D8C5C;
      color: #fff;
    }
  }
  .open {
    background-color: #1D8C5C;
    color: #fff;
    > a {
      background-color: #1D8C5C;
      color: #fff;
      &:hover, &:focus {
        background-color: #1D8C5C;
        color: #fff;
      }
    }
  }
}

.navbar-user {
  margin-right: 0px;
}

.tslogo {
  border-radius: 5px;
  width: 30px; 
  height: 30px;
  margin-top:8px;
  float: left;
}

.think_space {
  float:left;
  margin-top:5px;
  margin-left: 12px;
  font-family: 'Bree Serif', serif;
  font-size: 24px;
  text-shadow: 1px 1px 2px #000000;
  position: absolute;
  color: #ffffff;
}

.think_space:hover {
  color: #ffffff;
  text-shadow: 1px 1px 2px #065655;
}

.home_button {
  margin-right: 0px;
}

.home_button:hover {
  color: green;
}

.search_box_form {
  max-width: 100%;
  margin-top: 8px;
  padding-right: 180px;
  position: absolute;
}

.notify {
  margin-right: 0px;
}

.notify_active {
  background-color: #E9573F;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 24px; 
  font-family: 'Bree Serif', serif;
}

.notify_active_mobile {
  background-color: #E9573F;
}

.notify_active:hover {
  background-color: #1D8C5C;
}

// Update state with ajax

.notify_state_off {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
}

.notify_state_on {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
  background-color: #E9573F;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 24px; 
  font-family: 'Bree Serif', serif;
  padding-left: 14px;
  padding-top: 8px;
}

.dropdown-menu {
  width: 500px;
  padding-top: 15px;
}

.notification {
  width: 100%;
  line-height: 22px;
  padding-left: 10px;
  font-family: 'Bree Serif', serif;
  word-wrap:break-word;
  padding-bottom: 20px;
}

.notification a:hover {
  color: #1F94AE;
}

.all_notification {
  width: 100%;
  line-height: 28px;
  padding-left: 10px;
  font-family: 'Bree Serif', serif;
  word-wrap: break-word;
  padding-bottom: 20px;
}

.all_notification a {
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
}

.all_notification a:hover {
  color: #000000;
  text-shadow: 1px 1px 2px #065655;
}


.all_notify {
  padding-top: 60px;
  margin-left: 7%;
  margin-right: 7%;
}

.fa-exclamation {
  padding-right: 10px;
  padding-left: 10px;
}

.col-sm-9 {
  padding-right: 0px;
}

#main {
  // background-color: #F8F8F8;
  background-image: linear-gradient(to bottom, #2196ca, rgba(25, 151, 93, 0.65));
  padding-left: 0;
  padding-right: 0;
  .img-circle {
    margin-top: 18px;
    height: 70px;
    width: 70px;
  }
}


// Left Navbar/Sections Formatting

#sidebar {
  padding: 0px;
  padding-top: 15px;
  color: #ffffff;
  // background-image: linear-gradient(to bottom, #2196ca, rgba(25, 151, 93, 0.65));
  background-color: #444444;
  // text-shadow: 0 0 2px #000000;
  padding-left: 5px;
  padding-right: 25px;
}

.trending {
  text-align: center;
  font-family: 'Bree Serif', serif;
  margin-left: 25px;
  text-shadow: 1px 1px 2px #000000;
  margin-top:30px;
}

.trending_div {
  line-height: 25px;
}

.trending_tags {
  font-family: 'Bree Serif', serif;
  font-size: 16px;
  text-shadow: 2px 3px 2px #000000;
  color: #ffffff;
  padding-left: 5px;
}

.trending_tags:hover {
  color: #000000;
  text-shadow: 1px 1px 2px #065655;
}

.community_statement {
  margin-top:20px;
  font-family: 'Bree Serif', serif;
  text-align: center;
  text-shadow: 1px 1px 2px #000000;
}

.mobile_arrow {
  color: #ffffff;
}

.mobile_arrow:hover {
  color: #000000;
}

.mobile_arrow_box {
}

// Shift left-nav down away from top-nav bar on desktop
@media screen and (min-width: 768px) {
  .nav_padding {
    margin-top: 10px;
  } 
}


#sidebar-footer a {
  color: #ffffff;
  background-color: transparent;
  padding-left: 5px;
  text-shadow: 1px 1px 2px #065655;
}

#sidebar-footer a:hover {
  color: #000000;
}

#sidebar .nav li > a:hover {
  background-color: #393939;
}

.logo {
  display: block;
  padding: 3px;
  background-color: #fff;
  color: #3B5999;
  height: 28px;
  width: 28px;
  margin: 9px;
  margin-right: 2px;
  margin-left: 15px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 1px;
  border-radius: 2px;
}

#sidebar-footer {
  bottom: 5px;
  padding: 5px;
  text-align:center;
  font-family: 'Bree Serif', serif;
  text-shadow: 1px 1px 2px #000000;
  margin-top: 10px;
}

#footer {
  margin-bottom: 20px;
}

// Main Section Formatting

.comment_box {
  float: left;
  width: 74%;
  outline: none;
  margin-top: 6px;
  margin-bottom: 22px;
}

.comment_box:focus {
  box-shadow: 0px 0px 3px 1px #1F95B3;
}

.comment_button {
  width: 25%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px; 
  font-family: 'Bree Serif', serif;
  font-size: 18px;
  float: right;
  background-color: #54BEEA;
}

.comment_button:hover {
  background-color: rgb(33, 150, 198);
}

.comment_button_padding {
  margin-top: 14px;
}

.comments_load_box {
  background-color: #F5F5F5;
  width: 100%;
  position: relative;
  height: 35px;
}

.comments_load_box span {
  width:100%;
  height:100%;
  position:absolute;
  z-index:2;
  top:0px;
  left:0px;
  padding-top: 8px;
  padding-left: 15px;
}

.comments_load_box:hover {
  width: 100%;
  background-color: #FFFFFF;
}

.comments_load {
  font-family: 'Bree Serif', serif;
}

.comments_load:hover {
  color: #222222;
}

.comments {
  clear: both;
}

.comments_top {
  padding-top: 15px;
}

// Placeholder Text Formatting cross-browser

.comment_box::-webkit-input-placeholder {
   color: #555555;
   font-size: 14px;
   line-height: 17px;
   text-align: center;
   padding-top: 10px;
}

.comment_box:-moz-placeholder { /* Firefox 18- */
   color: #555555;
   font-size: 14px;
   line-height: 17px;
   text-align: center;
   padding-top: 10px;  
}

.comment_box::-moz-placeholder {  /* Firefox 19+ */
   color: #555555;
   font-size: 14px;
   line-height: 17px;
   text-align: center;
   padding-top: 10px;  
}

.comment_box:-ms-input-placeholder {  
   color: #555555;
   font-size: 14px;
   line-height: 17px;
   text-align: center;
   padding-top: 10px;  
}

/* bootstrap overrides */

h1, h2, h3 {
  font-weight: 800;
}

.navbar-toggle, .close {
  outline: 0;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.btn-primary, .label-primary {
  background-color: #3B5999;
  color: #fffffe;
}

.list-group-item.active {
  background-color: #3B5999;
  color: #fffffe;
  &:hover, &:focus {
    background-color: #3B5999;
    color: #fffffe;
  }
}

.btn-default {
  color: #000000;
}

.form-control! {}

.panel textarea, .well textarea, textarea.form-control {
  resize: none;
}

.badge {
  color: #3B5999;
  background-color: #fff;
  &:hover {
    background-color: #3B5999;
    color: #fff;
  }
}

.badge-inverse {
  background-color: #3B5999;
  color: #fff;
}

.jumbotron {
  background-color: transparent;
}

.label-default {
  background-color: #dddddd;
}

.page-header {
  margin-top: 55px;
  padding-top: 9px;
  border-top: 1px solid #eeeeee;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.panel-default .panel-heading {
  background-color: #f9fafb;
  color: #555555;
}

.col-sm-9.full {
  width: 100%;
}

.modal-header {
  background-color: #f2f2f2;
  font-weight: 800;
  font-size: 12px;
}

.modal-footer {
  background-color: #f2f2f2;
  font-weight: 800;
  font-size: 12px;
  i {
    font-size: 20px;
    color: #c0c0c0;
  }
}

.well i {
  font-size: 20px;
  color: #c0c0c0;
}

.modal-body {
  padding: 0px;
  textarea.form-control {
    resize: none;
    border: 0;
    box-shadow: 0 0 0;
  }
}

small.text-muted {
  font-family: courier,courier-new,monospace;
}

// Fix navbar for mobile (stange extra margin discolorization)
.navbar {
  margin-bottom: 0px;
}

/* adjust the contents on smaller devices */
@media (max-width: 768px) {
  .column .padding {
    padding: 7px;
  }
  .full {
    padding-top: 20px;
  }
  .navbar-blue {
    top: 0;
    width: 100%;
    position: relative;
    padding-bottom: 20px;
  }

  // Top Nav
  .search_box_form {
    padding-right: 30px;
    padding-left: 1px;
  }
}

/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-left.active {
    left: 75%;
    .sidebar-offcanvas {
      left: -75%;
      position: absolute;
      top: 0;
      width: 75%;
      margin-left: 5px;
    }
    #lg-menu {
      margin-right: 10px;
    }
    .mobile_arrow_box {
      margin-bottom: 10px;
    }
  }

  .col-sm-12, .full, .col-sm-9 {
    padding-left: 0px;
    padding-right: 2px;
  }

  #sidebar {
    padding-left: 0px;
    a {
      padding-left: 3px;
    }
  }
  #sidebar-footer a {
    padding-left: 3px;
  }

  // Dropdown move notifications down
  .drop_notify {
    margin-top: 40px;
  }
}